@import '../helpers/_variables.scss';
@import '../helpers/_mixins.scss';

html{
  font-size: 62.5%;
}

body{
  background-color: $colorWhite;
  font-family: $font;
}

.headerBG{
  background-color: $colorBlack;

}

.footerBG{
  height: 100px;
  @extend .headerBG
}

header{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: $colorWhite;
  background-color: $colorBlack;

  @include mq(tablet){
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    text-align: center;
    font-size: 52px;
  }

  nav{
    .fa-camera-retro{
      font-size: 30px;

      @include mq(tablet){
        font-size: 50px;
      }
    }

    a{
      font-size: 15px;
      margin-right: 10px;
      text-decoration: none;
      color: $colorWhite;

      @include mq(tablet){
        font-size: 25px;
      }
    }

    a:hover{
      color: $colorDGrey;
    }
  }
}

.main{
  h2{
    font-size: 52px;
    text-align: center;
    background-color: $colorWhite;
    padding: 20px 0;
  }

  .about{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    margin-bottom: 10px;
    background-color: $colorDGrey;
    color: $colorLGrey;

    p{
      padding: 10px;
    }

    h3{
      font-size: 30px;
      color: $colorLBlack;
      padding: 10px;
    }

    @include mq(tablet){
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    @include mq(desktop){
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .search{
    @extend .about
  }

  .contact{
    @extend .about
  }

  .welcome{
    @extend .about
  }

  .welcome{
    .aboutImage{
      width: 100%;
      height: 150px;
      background-image: url(/images/about.jpeg);
      background-size: cover;
    }
  }

  .searchImage{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    background-image: url(/images/search.jpeg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;

    @include mq(tablet){
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    @include mq(desktop){
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contactImage{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    background-image: url(/images/contact.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;

    @include mq(tablet){
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    @include mq(desktop){
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.searchFormSec{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet){
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .searchForm{
    width: 100%;
    margin: 2rem auto;
    font-size: 30px;
    text-align: center;

    input[type=text]{
      flex:1;
      height: 5rem;
      font-size: 12px;
      width: 80%;
      border: none;

      @include mq(tablet){
        font-size: 16px;
      }

      @include mq(desktop){
        font-size: 30px;
      }
    }

    .append{
      display: flex;

      .srchBtn{
        width: 5rem;
        font-size: 3rem;
        border: none;
        background-color: $colorLBlack;
        color: $colorWhite;
      }

      .srchBtn:hover{
        background-color: $colorLGrey;
        color: $colorBlack;
      }
    }
  }
}

.resultsWrap{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  h2{
    background-color: $colorLGrey;
    padding: 10px;
    font-size: 14px;

    @include mq(tablet){
      font-size: 25px;
    }
  }

  @include mq(tablet){
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

%ellipsis{
  overflow: hidden;
  //white-space: nowrap;
  text-overflow: ellipsis;
}

.results{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  a{
    text-decoration: none;
  }

  h2{
    justify-content: space-around;
  }

  article{
    display: flex;
    margin: 10px 0;
    width: 100%;

    img{
      width: 50%;
      max-height: 120px;
      float: left;
      object-fit: cover;

      @include mq(tablet){
        width: 100%;
        max-height: 400px;
        float: none;
      }
    }

    @include mq(tablet){
      margin: 10px;
      flex-wrap: wrap;
      max-width: calc(50% - 2.2rem);
    }

    @include mq(desktop){
      max-width: calc(33% - 2.2rem);
    }
  }

  article:hover{
    .picInfo{
      @include mq(desktop){
        max-height: 100%;
        display: block;
      }
    }
  }
}

.picInfo{
  @extend %ellipsis;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 10px 0 10px;
  background-color: $colorLBlack;
  color: $colorLGrey;
  max-height: 120px;
  font-size: 12px;


  *{
    margin-top: auto;
    margin-bottom: auto;
  }

  @include mq(tablet){
    //margin: 0;
  }

  @include mq(desktop){
    white-space: normal;
    display: none;
    max-height: 0;
    opacity: 0.75;
    transition:  2s linear, max-height 1.5s ease-in-out;
  }

}

.contact{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;


  h2{
    font-size: 30px;
    text-align: center;
  }

  @include mq(tablet){
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;


    h2{
      font-size: 40px;
    }
  }

  @include mq(desktop){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contactFrm{
  background-color: $colorLGrey;
  padding: 10px;
  max-width: 300px;
  position: relative;

  @include mq(tablet) {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  input{
    width: calc(100% - 20px);
    font-size: 20px;

    @include mq(tablet){
      width: 100%;
      font-size: 20px;
    }
  }

  textarea{
    resize: none;
    @extend input
  }

  label{
    font-size: 20px;
  }

  .frmGrp {
    padding-top: 10px;
    width: 300px;
  }
}

.subBtn{
  width: 100%;
  font-size: 20px;
}

.subBtn:hover{
  background-color: $colorDGrey;
  color: $colorWhite;
}

.error{
  color: red;
}

.alert{
  position: absolute;
  display: none;
  background-color: $colorLGrey;
  height: 760px;
  width: 300px;
  text-align: center;
  font-size: 16px;

  .fa-check-square-o{
    margin-top: 300px;
    font-size: 40px;
  }

  @include mq(tablet){
    width: 320px;
    height: 780px;
  }
}

.show{
  display: block;
}

footer{
  text-align: center;

  p{
    padding-top: 35px;
    font-size: 18px;

  }

  @extend header
}