@import '../helpers/_variables.scss';
@import '../helpers/_mixins.scss';

html{
  font-size: 62.5%;
}

body{
  background-color: $colorWhite;
  font-family: $font;
}

.headerBG{
  background-color: $colorBlack;

}

.footerBG{
  @extend .headerBG
}

header{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: $colorLGrey;
  background-color: $colorBlack;

  @include mq(tablet){
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    text-align: center;
    font-size: 32px;
  }
}

.searchFormSec{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet){
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.resultsWrap{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet){
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.results{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  h2{
    justify-content: space-around;
  }

  article{
    display: flex;
    margin: 10px 0;
    width: 100%;

    img{
      width: 50%;
      max-height: 120px;
      float: left;
      object-fit: cover;

      @include mq(tablet){
        width: 100%;
        max-height: 400px;
        float: none;
      }
    }

    @include mq(tablet){
      margin: 10px;
      flex-wrap: wrap;
      max-width: calc(50% - 2.2rem);
    }

    @include mq(desktop){
      max-width: calc(33% - 2.2rem);
    }
  }
}

footer{
  text-align: center;
  @extend header
}